# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://fxviimridpoekfpyzbse.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_KjZ3s-8yN6xxm6u_xgDZjw_ncY1PkBt
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4dmlpbXJpZHBvZWtmcHl6YnNlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjQwNTIyOSwiZXhwIjoyMDk3OTgxMjI5fQ.aHiD7RZW2zVf6rdX_95UwjOe4_m_esC4tyMunMZ6YBY

# Resend (for transactional emails)
RESEND_API_KEY=re_SL7BXYAx_2oGySryqFeh7FKuQJWGNqtnn

# Notification email (where inquiries/messages are sent)
CONTACT_EMAIL=sakacomel@gmail.com
